{% extends 'dashboard.html' %}

{% block title %}{{ request.user.agent.name }}{% endblock title %}

{% block box %}
    {% if not apartmentunit_list %}
    <div class="notification">
        <p><strong>No units yet.</p>
    </div>
    {% endif %}
    
    
    <div class="columns">
        {% for object in apartmentunit_list %}
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <a href="{{ object.get_absolute_url }}">
                                <img src="{{ object.image.url }}" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <small><strong>added {{ object.timestamp|timesince }} ago - {{object.timestamp }}</strong></small>
                                <br>
                                <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                            </p>
                        </div>
                        <!-- OBJECT ACTIONS -->
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a href="{% url 'account:update_unit' object.slug %}" class="level-item"> <!--EDIT-->
                                    <span class="icon is-small">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                <a href="{% url 'account:delete_unit' object.slug %}" class="level-item">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </a>
                            </div>
                        </nav>
                        <!-- END OBJECT ACTIONS -->
                    </div>
                </article>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock box %}
